set default="0"
set timeout=10

menuentry 'Ubuntu ${AI_VERSION} Server (dotfiles-core autoinstall)' {
    linux /vmlinuz ip=dhcp url=http://${OPERATOR_IP}:${HTTP_PORT}/${AI_ISO_FILENAME} "autoinstall" "ds=nocloud-net;s=http://${OPERATOR_IP}:${HTTP_PORT}/autoinstall/" cloud-config-url=/dev/null ---
    initrd /initrd
}

menuentry 'Boot from local disk' {
    exit 1
}
