# Components (Managed by vcstool)
/components/

# Local secrets & temp files
.bw_session
.repos.resolved.yaml
*.log
.tmp/

# OS files
.DS_Store

# dots
dots
.worktrees/

# Ansible local configs
/ansible/hosts.ini
/ansible/vars.yml
