# Components (Managed by vcstool)
components/

# Local secrets & temp files
.bw_session
.repos.resolved.yaml
*.log
.tmp/

# OS files
.DS_Store

# dots
dots

# Ignore injected files in components
components/**/_mk/idempotency.mk
